@charset "utf-8";
	.XMLID_12_
{
	background-image : url(XMLID_12_.png);
	background-repeat : no-repeat;
}
.XMLID_1_
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 7px;
}
.XMLID_11_
{
	border-style : Solid;
	border-color : #FFFFFF;
	border-color : rgba(255, 255, 255, 1);
	border-width : 26px;
}
